{% extends "base.html" %}

{% block title %} 
Lista zamówień - BASEPOINT 
{% endblock title %}
{% block content %}

<div class="container">
    <div class="content mt-5 col-md-10 offset-1 bg-light rounded">
            <div class="row ">
                    <div class="col-md-3 offset-1 pt-2">
                        <p class="fw-bold fw-1 pt-3" style="opacity: 50%;">
                            Faktury
                        </p>
                    </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <hr style="opacity: 25%;">
                </div>
            </div>
            
            <div class="row">
                <div class="col-md-10 offset-1">
                    <table class="table text-center">
                        <thead>
                          <tr>
                            <th scope="col">Numer</th>
                            <th scope="col">Zamówienie</th>
                            <th scope="col">Nabywca</th>
                            <th scope="col">Suma brutto</th>
                            <th scope="col">Data</th>
                          </tr>
                        </thead>
                        <tbody>
                            <td>Numer</td>
                            <td>Zamówienie</td>
                            <td>Nabywca</td>
                            <td>Suma brutto</td>
                            <td>Data</td>
                          </tr>
                        </tbody>
                      </table>
                </div>
            </div>
        
    </div>
</div>

{% endblock content %}