{% extends "base.html" %}
{% load custom_filters %}
{% block title %} 
DASHBOARD - BASEPOINT 
{% endblock title %}
{% block content %}

<div class="container">
    <div class="row mt-5 ">
        <div class="col-md-3 offset-2 bg-light rounded shadow text-center" style="height: 150px;">
            <p class="fw-bold text-success fs-1 pt-4">{{orders_today}}</p>
            <p class="mb-5" style="opacity: 50%;">Zamówienia dzisiaj</p>
        </div>
        <div class="col-md-4 offset-1 bg-light rounded shadow" style="height: 150px;">

          <canvas id="myChart" class='center mx-auto'></canvas>

        </div>
    </div>
    <div class="row mt-5">
        <div class="col-md-6 offset-2 bg-light rounded shadow" style="height: 150px;">
            <table class="table table-borderless mt-2  "style="opacity: 50%;">
                  <tr>
                    <th  scope="row">Produkty</th>
                    <td class="text-end pe-5 me-5">{% for event in products_count %} {{ event.ilosc_produktow }}{% endfor %}</td>
                  </tr>
                  <tr>
                    <th scope="row">Zamówienia:</th>
                    <td class="text-end pe-5 me-5">{% for event in orders_count %} {{ event.ilosc_zamowien }}{% endfor %}</td>
                  </tr>
                  <tr>
                    <th scope="row text-start">Wartość zamówień:</th>
                    <td class="text-end pe-5 me-5">{% for event in orders_count %} {{ event.wartosc_zamowien|format_currency  }}{% endfor %} PLN</td>
                  </tr>
        </div>
    </div>
</div>

<script>
  document.addEventListener("DOMContentLoaded", function() {
      var ctx = document.getElementById('myChart').getContext('2d');
      var myChart = new Chart(ctx, {
          type: 'bar',
          data: {
              labels: [{% for event in allegro_data %} '{{ event.2 }}  ({{event.0}})',{% endfor %}],
              datasets: [{
                  label: 'Ilość zamówień',
                  data: [{% for event in allegro_data %} '{{ event.0 }}',{% endfor %}],
                  backgroundColor: 'rgba(0, 175, 18, 0.2)',
                  borderColor: 'rgba(0, 0, 0, 0.2)',
                  borderWidth: 1
              }]
          },
          options: {
              scales: {
                  yAxes: [{
                      ticks: {
                          beginAtZero: true
                      }
                  }]
              }
          }
      });
  });
</script>
{% endblock content %}