{% extends "base.html" %}

{% block title %} 
DASHBOARD - BASEPOINT 
{% endblock title %}
{% block content %}

<div class="container">
    <div class="row mt-5 ">
        <div class="col-md-3 offset-2 bg-light rounded shadow text-center" style="height: 150px;">
            <p class="fw-bold text-success fs-1 pt-4">0</p>
            <p class="mb-5" style="opacity: 50%;">Zamówienia dzisiaj</p>
        </div>
        <div class="col-md-4 offset-1 bg-light rounded shadow" style="height: 150px;">PyChart...</div>
    </div>
    <div class="row mt-5">
        <div class="col-md-6 offset-2 bg-light rounded shadow" style="height: 150px;">
            <table class="table table-borderless mt-2  "style="opacity: 50%;">
                  <tr>
                    <th  scope="row">Produkty</th>
                    <td class="text-end pe-5 me-5">12</td>
                  </tr>
                  <tr>
                    <th scope="row">Zamówienia:</th>
                    <td class="text-end pe-5 me-5">5</td>
                  </tr>
                  <tr>
                    <th scope="row text-start">Wartość zamówień:</th>
                    <td class="text-end pe-5 me-5">321 PLN</td>
                  </tr>
        </div>
    </div>
</div>
{% endblock content %}