<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <title>Faktura</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
    <div class="container">
        <div class="row mt-4">
            <div class="col-6">
                <h1>Logo</h1>
            </div>
            <div class="col-6 text-right">
                <h2>Faktura</h2>
                <p><b>Numer faktury:</b> sxxasxasxas</p>
                <p><b>Data i miejsce wystawienia:</b> dadasdasdsd</p>
                <p><b>Data zakończenia dostawy:</b> dsafdasdadsda</p>
            </div>
        </div>

        <div class="row mt-4">
            <div class="col-6">
                <h3>Sprzedawca</h3>
                <p><b>Nazwa firmy:</b> {%for i in ownerData%} {{ i.nazwa_firmy }} {%endfor%}</p>
                {% for owner in ownerData %}
                <p><b>Adres:</b> {{owner.adres}}</p>
                {% endfor %}
                {% for owner in ownerData %}
                <p><b>Numer NIP:</b> {{ owner.account_nip }}</p>
                {% endfor %}
                {% for owner in ownerData %}
                <p><b>Telefon:</b> {{owner.numer_telefonu}}</p>
                {% endfor %}
                {% for owner in ownerData %}
                <p><b>Email:</b> {{owner.email_firmowy}}</p>
                {% endfor %}
            </div>
            <div class="col-6">
                <h3>Nabywca</h3>
                <p><b>Nazwa osoby lub firmy:</b>{%for j in orderData%}   {% if forloop.counter == 1 %} {{j.first_name}} {{j.last_name}} {% endif %} {%endfor%}</p>
                <p><b>Adres:</b>{%for j in orderData%} {% if forloop.counter == 1 %} {{j.custumer_address}} {% endif %} {%endfor%} </p>
            </div>
        </div>

        <div class="row mt-4">
            <div class="col-12">
                <h4>Sposób opłacenia</h4>
                <p>gotówka</p>
            </br>
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th>Lp.</th>
                            <th>Nazwa towaru/usługi</th>
                            <th>Jednostka miary</th>
                            <th>Ilość</th>
                            <th>Cena jednostkowa</th>
                            <th>Cena netto</th>
                            <th>VAT</th>
                            <th>Kwota VAT</th>
                            <th>Wartość brutto</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for p in orderData %}
                        <tr>
                            <td>{{forloop.counter}}.</td>
                            <td>{{p.product_name}}</td>
                            <td>szt.</td>
                            <td>{{p.product_quantity}}</td>
                            <td>{{p.product_price}} zł</td>
                            <td>{{p.netto}} zł</td>
                            <td>23%</td>
                            <td>{{p.vat}} zł</td>
                            <td>{{p.brutto}} zł</td>
                        </tr>
                        {% endfor %}
                        <tr>
                            <td colspan="4"></td>
                            <td><b>Razem</b></td>
                            {% for i in sumOrderData%}
                            <td>{{i.sumaNetto}} zł</td>
                            <td>23 %</td>
                            <td>{{i.sumaVat}} zł</td>
                            <td>{{i.sumaBrutto}} zł</td>
                            {%endfor%}
                        </tr>
                        
                    </tbody>
                </table>
                <p><b>Do zapłaty:</b>{% for i in sumOrderData%} {{i.sumaBrutto}} zł{%endfor%}</p>
            </div>
        </div>

        <div class="row mt-4">
            <div class="col-6">
                <p><b>Podpis osoby upoważnionej do odbioru faktur</b></p>
            </div>
            <div class="col-6 text-right">
                <p><b>Podpis osoby uprawnionej do wystawienia faktury</b></p>
            </div>
        </div>
    </div>
    </br>
    </br>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    
</body>
</html>

